{% extends "./base.html" %}
{% block content %}
<br>
<br>
<div class="jumbotron container p-2 alert alert-danger text-center">
    <h1 class="display-4">Payment Failed...</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet amet quasi animi enim eos delectus
        perferendis eligendi aspernatur voluptates dolore beatae natus iure, architecto illum in harum cum, assumenda
        aliquam?</p>
    <hr class="my-4">
    <p>Your payment failed ..</p>
</div>




{% endblock %}